@import "lib/extensions/extensions";
@include govuk-exports("govuk/component/header") {};

.govuk-template__body {
  overflow-x: hidden;
}


//---- menu ----
.govuk-header {
  border-bottom: 10px solid govuk-colour("blue");
  padding-left: 10px;
  padding-right: 10px;
  &__menu-button {
    right: 40px;
    top: 0;
    border-left: 1px solid #666;
    padding: 18px 20px 18px 0px;
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 19px;
      bottom: 0;
      right: 18px;
      width: 7px;
      height: 7px;
      -webkit-transform: rotate(137deg);
      -ms-transform: rotate(137deg);
      transform: rotate(137deg);
      border: solid;
      border-width: 3px 3px 0 0;
      border-color: white;
      clip-path: none;
    }
    &:focus {
      box-shadow: none;
    }
    &:hover {
      text-decoration: none;
    }
    &.govuk-js-header-toggle {
      right: -25px;
      width: 100px;
      height: 50px;
      &.govuk-header__menu-button {
        &--open {
          background: govuk-colour("white");
          color: govuk-colour("black");
          padding-right: 0px;
          font-size: 40px;
          font-weight: 100;
        }

      }
    }

  }
  &__navigation {
    min-height: 100vh;
  }
  &__navigation-item {
    border: none;
    padding: 30px 0 0 0;
    color: govuk-colour("black");
    pointer: pointer;
     a:link, a:visited {
      font-size: 22px;
      color: govuk-colour("blue");
      text-decoration: none;
    }
    .govuk-list &-2 {
      padding-bottom: 28px;
      a:link, a:visited {
        color: govuk-colour("blue");
        font-size: 18px;
      }
    }
    &.xpl-minor-nav-item {
      background: #f3f2f1;
      margin-left: -20px;
      margin-right: -20px;
      padding-bottom: 0;
      &:last-of-type {
        padding-bottom: 60px;
      }
      a {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    h2 {
      margin: 30px 0 30px 0;
      font-size: 22px;
      font-weight: bold;
    }
    hr {
      margin-left: -20px;
      margin-right: -20px;
      border-color:  govuk-colour("black");
      border-width: 1px 0 0 0;
    }
  }
  &__container {
    border-bottom: none;
    min-height: 50px;
    z-index: 3;
  }
  nav {
    background: govuk-colour("white");
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;

    .govuk-js-header-toggle .arrow {
      vertical-align: 4px;
      font-weight: bold;
      padding-left: 3px;
    }

    .govuk-js-search-toggle {
      background-image: url(/assets/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
      background-position: 105% 50%;
      background-size: 70px auto;
      text-indent: -5000px;
      right: -20px;
      width: 50px;
      height: 50px;
      &.govuk-js-search-toggle--open {
        background-color: govuk-colour("white");
        color: govuk-colour("black");
        text-indent: 0;
      }
    }
  }
}

.govuk-width-container {
//  margin-top: 10px;
  border-bottom: none;
}


.govuk-main-wrapper--auto-spacing:first-child {
  padding: 0;
}

.xpl-hero {
  margin: -10px 0 0 0;
  padding-bottom: 20px;
  padding-top: 15px;
  background: govuk-colour("blue");
  &.govuk-grid-row {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1, p {
    color: govuk-colour("white");
  }
  a:link {
    font-weight: normal;
  }
  .home-top__links-item, .home-top__intro {
    margin-bottom: 10px;
  }
  .gem-c-search {
    margin-top: 30px;
  }
}

main#main-content {
  section {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.home-divider {
  border: .5px solid govuk-colour("black");
  margin-top: 30px;
}

.home-top__links {
  *:link {
    text-decoration: none;
  }
  &-title {
    color: govuk-colour("white");
  }
}

a.govuk-link:link {
  text-decoration: none;
}

.govuk-heading-l {
  font-size: 22px;
  margin: 30px 0 30px 0;
}


.home-services {
  &__heading {
    margin-top: 30px;
    font-size: 22px;
  }
  &__para {
    font-size: 16px;
  }
}

.xpl-topics {
  margin-bottom: 30px;
  *:link {
    text-decoration: none;
  }
  h3 {
    float: left;
    width: 80%;
  }
  p {
    clear: both;
    margin-right: 30px;
  }
  .xpl-chevron {
    float: right;
    margin-top: 20px;
    font-size: 35px;
    color: govuk-colour("black");
  }
  ul.govuk-list {
    li {
      border-top: 1px solid govuk-colour("black");
      > a > div {
        min-height: 180px;
      }
    }
  }
}

#xpl-topics-button {
  padding-left: 0;
}

.home-promo {
  &__link {
    font-size: 22px;
  }
  &__text {
    font-size: 16px;
  }
}

.xpl-featured {
  p {
    margin-bottom: 60px;
  }
}

.xpl-activity {
  h3.home-services__heading {
    font-size: 18px;
    margin-top: 0;
  }
  p.home-services__para {
    margin-bottom: 0;
  }
  p.xpl-activity__intro {
    font-size: 22px;
  }
}

.xpl-nav-menu--open {
  > * {
    display: block;
  }
}

.xpl-menu__button {
  background: none;
  border: 0;
  padding: 0;
  font-size: 22px;
  font-weight: bold;
  color: $govuk-link-colour;
  display: block;
  cursor: pointer;
}

.xpl-menu__button-back {
  border: 0;
  background: none;
  &::before {
    content: "< "
  }
  font-size: 18px;
  color: govuk-colour("mid-grey");
}

.home-numbers {
  &__large {
    font-size: 88px;
  }
  &__link {
    font-size: 18px;
    font-weight: bold;
  }
}

.xpl-frame2 {
  ul {
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 40px;
      a:link, a:visited {
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

#xpl-popup-menu {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: govuk-colour("white");

  #navigation {
    margin-left: 20px;
    margin-right: 20px;
  }

}

.govuk-header__navigation, #xpl-search-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
}

#xpl-search-box {
  padding: 30px 0 60px 0;
  h2 {
    color: govuk-colour("black");
    margin: 0;
    margin-bottom: 30px;
  }
  button {
    background-color: govuk-colour("blue");
  }
}

li.govuk-tabs__list-item {
  margin-left: 0;
  margin-right: 20px;
  font-weight: bold;
  padding: 20px 20px 19px 20px;
  min-width: unset;
  margin-top: -15px;
  &--selected {
    padding: 20px;
  }
}


.app-c-back-link-inverse {
  margin-top: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #283135;
  &-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
  }
}

.app-c-inverse-header {
  background-color: #283135;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header-inner {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#topics h2 {
  font-size: 22px;
}


.xpl-topic-activity {
  &-frame {
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    z-index: 5;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-right: 2px solid govuk-colour('blue');
      border-bottom: 2px solid govuk-colour('blue');
      left: 3px;
      top: 3px;
      z-index: -1;
    }
    h2 {
      margin: 0;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  &-inner {
    min-height: 230px;
    padding: 30px;
    background: govuk-colour("white");
    border: 1px solid $govuk-border-colour;
    z-index: 9;
    &:hover {
      background: #f3f2f1;
    }

  }
  &-footer {
    position: absolute;
    bottom: 0;
    color: #555;
  }
}

// Desktop

.xpl-nav--desktop {
  display: none;
}

@include govuk-media-query ($from: tablet) {
  .js-enabled .govuk-tabs__list-item {
    padding: 20px 20px 19px 20px;
    margin-top: -20px;
    margin-right: 20px;
    &--selected {
      padding-bottom: 20px;
    }
  }
}

@include govuk-media-query ($from: desktop) {
  .home-top__links {
    position: unset;
    margin-top: 0;
    &-item {
      a:visited, a:link {
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
  .xpl-hero {
    padding-bottom: 0;
    padding-top: 0;

  }
  .govuk-main-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .govuk-header {
    border-bottom: 10px solid govuk-colour("white");

    & + div.govuk-width-container {
      margin-top: -10px;
    }

    &__container {
      border-bottom: 10px solid #1d70b8;
    }
    &__logo {
      width: 25%;
      margin-top: 5px;
    }
    &__navigation {
      min-height: unset;
      position: absolute;
      margin: 5px 0 0 0;
    }
    &__navigation-item {
      padding: 10px 20px 0 20px;
      margin-right: 0;
      button {
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.14286;
        white-space: nowrap;
        &:focus {
          outline: none;
        }
      }
    }
    .xpl-nav--desktop {
      display: block;
      background: govuk-colour("black");
      button, a:link, a:visited {
        color: govuk-colour("white");
        font-size: 16px;
      }
      .xpl-frame2 {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 990px;
        top: 70px;
        z-index: 10;
        width: 100%;
        box-shadow: 3px 5px 5px #999;
        background: govuk-colour("white");
        a:link, a:visited, li {
          color: govuk-colour("blue");
          font-size: 16px;
        }
        .xpl-minor-item {
          background: #f3f2f1;
          ul {
            width: 100%;
            padding-left: 35%;
            li {
              display: inline-block;
              width: 32%;
            }
          }
        }
        ul, p {
          padding: 30px 30px 0 30px;
          margin: 0;
          display: inline-block;
          vertical-align: top;
          width: 25%;
          li {
            margin-bottom: 30px;
          }
          li div {
            color: govuk-colour("black");
          }
        }
        p {
          font-size: 22px;
        }
      }
      button {
        position: relative;
      }
      button::after  {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        bottom: 0;
        right: -22px;
        width: 7px;
        height: 7px;
        -webkit-transform: rotate(137deg);
        -ms-transform: rotate(137deg);
        transform: rotate(137deg);
        border: solid;
        border-width: 3px 3px 0 0;
        border-color: white;
      }
    }
    .xpl-nav {
      display: none;
    }
    &__navigation-item {
      &.menu-item-open {
        background-color: govuk-colour("white");
        position: relative;
        padding-bottom: 42px;
        padding-right: 40px;
        top: -11px;
        & + li {
          padding-left: 0px;
        }
        button {
          top: 11px;
          color: govuk-colour("black");
          &::after {
            border-color: black;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 7px;
          }
        }
      }
    }
  }
}
