//---- menu ---- 
.govuk-header__menu-button {
    right: 40px;
    top: 0;
    padding: 20px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    font-size: 18px;
    line-height: 10px;
    &::after {
      border: none;
      clip-path: none;
    }
    &.govuk-header__menu-button--open {
      background: white;
      color: black;
    }
  }



  //--- header 
  .govuk-header__container {
    border-bottom: none;
    height: 52px;
}

.govuk-header {
    border-bottom: none;
}


.xpl-hero {
    padding-bottom: 20px;
    padding-top: 15px;
    background: #1d70b8;
    &.govuk-grid-row {
      margin-left: -35px;
      margin-right: -35px;
      padding-left: 20px;
      padding-right: 20px;
    }
    h1, p {
      color: white;
    }
    a:link {
      font-weight: normal;
    }
}

main#main-content {
  padding: 0 15px 0 15px;
  *:link {
    text-decoration: none;
  }
}

.home-divider {
  border: .5px solid black;
}

.home-top__links {
    &-title {
        color: white;
    }
}

.govuk-heading-l {
  font-size: 22px;
}

.xpl-topics {
  margin-top: 30px;
  margin-bottom: 30px;
  h3 {
    float: left;
  }
  p { 
    clear: both;
  }
  .xpl-chevron {
    float: right;
    margin-top: 20px;
    font-size: 35px;
    color: black;
  }
  ul.govuk-list {
    li {  
      min-height: 180px;
      border-top: 1px solid black;
      .home-services__heading {
        margin-top: 30px;
        font-size: 22px;
      }
    }
  }
}
