@import "media-queries";
@import "sass-mq";
@import "colour";


$govuk-link-colour: govuk-colour("blue") !default;
$govuk-border-colour: govuk-colour("mid-grey");
$link-hover-colour: #003078;
$menu-hover-colour: #005ff8;

$mobile-width:  320px;
$tablet-width:  740px;
$desktop-width: 768px;
//$desktop-width: 960px;
$wide-width: 1300px;




#global-header-bar-outer {
  background: #283135;

  #global-header-bar {
    height: 7px;
    background-color: #005ea5;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}


//==============================================================================
// Explore-specific pages



.explore-page {

  // check with non-explore pages

  .govuk-main-wrapper--auto-spacing:first-child {
    padding: 0;
  }


  .govuk-heading-xl {
    font-size: 32px;
  }

  .govuk-heading-l {
    font-size: 22px;
    padding: 30px 0 30px 0;
    margin: 0;
  }

  .govuk-heading-m {
    font-size: 22px;
    padding: 30px 0 30px 0;
    margin: 0;
  }

  .xpl-section-inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .home-services {
    &__heading {
      margin-top: 30px;
      font-size: 22px;
    }
    &__para {
      font-size: 16px;
    }
  }

  .featured-list {
    font-size: 18px;
    font-weight: 700;
    list-style-type: none;
    margin-left: 30px;
    margin-bottom: 0;
    li + li {
      margin-top: 15px;
    }
    li::before {
      margin-left: -30px;
      content: '';
      display: inline-block;
      vertical-align: -11px;
      padding: 7px 20px 0 0;
      height: 20px;
      width: 10px;
      background-image: url('/public/images/arrow.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 21px;
    }
  }

  .xpl-search-section {
    padding-bottom: 60px;
  }

  .xpl-search-input {
    input {
      height: 50px;
      width: calc(100% - 50px);
      font-size: 22px;
    }
    button {
      vertical-align: top;
      display: inline-block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-image: url(https://www.gov.uk/assets/frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
      background-repeat: no-repeat;
      background-position: -23px 50%;
      background-size: 70px auto;
      background-color: black;
      text-indent: -5000px;
      overflow: hidden;
    }
  }

  section.subtopics {
    h2.govuk-heading-l {
      padding: 30px 0 10px 0;
    }
    .xpl-topics ul li {
      min-height: 122px;
      margin-bottom: 30px;
    }
  }

  .xpl-organisation {
    border-bottom: 1px solid $govuk-border-colour;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .xpl-organisation__inner {
      border-left: 3px solid black;
      padding-left: 15px;
      img {
        max-width: 60px;
      }

      p {
        font-size: 22px;
        margin-bottom: 0;
        position: relative;
        padding-right: 20px;
        &:after {
          content: url(/public/images/chevron-right.svg);
          position: absolute;
          right: 0px;
        }
      }
    }
  }


  section.xpl-departments {
    h2 {
      margin: 30px 0 30px 0;
    }
  }


  .govuk-accordion, .govuk-accordion__section-header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border-top-color: #b1b4b6;
    box-shadow: none;
    .govuk-accordion__section {
      button {
        color: govuk-colour("black");
      }
      &:hover {
        background-color: #f3f2f1;
      }
      button:hover:not(:focus) {
        text-decoration: none;
      }
    }
  }

  .header-inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 45px;
    h1 {
      padding-top: 0;
      margin-top: 0;
    }
    .lede {
      font-size: 20px;
    }
  }

  .home-numbers {
    &__large {
      font-size: 88px;
    }
    &__link {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .xpl-hero2 {
    background: #f3f2f1;
  }

  .xpl-hero {
    z-index: 2;
    padding-bottom: 40px;
    background: govuk-colour("blue");
    h1 {
      padding-top: 30px;
      margin-bottom: 30px;
      color: govuk-colour("white");
    }
    p {
      font-size: 20px;
      color: govuk-colour("white");
    }
    p.xpl-hero-simpler {
      font-weight: bold;
    }
  }


  .xpl-most-viewed {
    ul.govuk-list li {
      margin-bottom: 30px;
      a:link, a:visited {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .xpl-featured {
    h3 {
      padding-bottom: 0;
    }
    p {
      margin-bottom: 60px;
    }
  }


  .home-promo {
    &__image {
      margin-bottom: 0;
    }
    &__link {
      font-size: 22px;
    }
    &__text {
      font-size: 16px;
    }
  }


  .xpl-topics {
    &-heading {
      padding-bottom: 30px;
      padding-top: 30px;
      h2 {
        padding: 0;
      }
      p {
        font-size: 22px;
        padding-top: 10px;
      }
    }
    h3 {
      font-size: 18px;
      float: left;
      width: 80%;
      padding: 0 0 10px 0;
      margin: 0;
    }
    .govuk-list {
      li {
        margin: 0;
        a {
          display: block;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        p {
          font-size: 16px;
          clear: both;
          padding-right: 30px;
          margin: 0;
        }
      }
    }
    .xpl-chevron {
      float: right;
      font-size: 35px;
      color: govuk-colour("black");
      margin-left: -30px;
      padding: 0 11px 0 0;
      height: 30px;
      width: 10px;
      background-image: url('/public/images/chevron-right.svg');
      background-repeat: no-repeat;
      background-position: 0 4px;
      background-size: 16px;
    }
    &.xpl-topics--accent-black ul.govuk-list li {
      border-top: 1px solid #000000;
      a {
        min-height: 120px;
      }
      .xpl-chevron {
        background-image: url('/public/images/chevron-right-000000.svg');
      }
    }
    &.xpl-topics--accent-grey ul.govuk-list li {
      border-top: 1px solid #BBBDBF;
      a {
        min-height: 70px;
      }

      .xpl-chevron {
        background-image: url('/public/images/chevron-right-979797.svg');
      }
    }

  }

  .xpl-activity, .xpl-featured, .departments-and-policy {
    border-top: 2px solid govuk-colour("black");
  }

  .xpl-activity-browse {
    .xpl-topics__intro {
      display: none;
      font-size: 22px;
      margin-bottom: 30px;
    }
    .xpl-topics ul.govuk-list li {
      margin-bottom: 30px;
      min-height: 130px;
    }
  }

  .xpl-activity {
    li {
      min-height: 65px;
    }
  }


  ul.xpl-subsubtopics li {
    margin-bottom: 30px;
  }


  .home-numbers {
    &__large {
      font-size: 88px;
      display: block;
    }
    &__link {
      &:first-of-type {
        margin-top: -15px;
      }
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: bold;
    }
  }

/*
  .back-link-inverse {
    margin-top: 0;
    margin-left: 0;
    padding: 0 0 30px 0;
    background-color: #283135;
    &-inner {
      margin-left: auto;
      margin-right: auto;
      max-width: 960px;
      padding-left: 25px;
      .govuk-back-link {
        background-position: 0px 4px;
        font-size: 18px;
        padding-left: 20px;
        margin: 0;
      }
    }
  }
*/


  .govuk-back-link {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 45px;
    padding-left: 20px;
    background-position: 0 5px;
  }

  .inverse-header {
    background-color: #283135;
    min-height: 210px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    &.inverse-header--padding-top {
      padding-top: 30px;
    }
    &.inverse-header--full-width {
      padding-bottom: 0;
    }
  }

/*
  @media (min-width: 40.0625em) {
    .inverse-header {
      margin-bottom: 25px;;
    }
  }
*/

  .header-inner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    h1 {
      padding-top: 0;
    }
  }

  a {
    text-decoration: none;
  }

  .govuk-accordion li {
    padding-bottom: 30px;
    margin-bottom: 0;
  }

}

//==============================================================================
// Desktop
//==============================================================================

@include govuk-media-query ($from: $desktop-width) {

  .explore-page {
    h1 {
      margin-top: 30px;
    }

    section {
      margin-left: 0;
      margin-right: 0;
    }


    section.subtopics {
      margin-left: auto;
      margin-right: auto;
      max-width: 960px;
    }

    .govuk-heading-xl {
      font-size: 48px;
    }

    .govuk-heading-l {
      font-size: 27px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .govuk-heading-m {
      font-size: 27px;
      padding-top: 30px;
    }

    .xpl-activity, .xpl-featured, .departments-and-policy {
      border-width: 5px;
    }

    .xpl-most-viewed {
      ul.govuk-list {
        margin-bottom: 60px;
        li {
          margin-bottom: 20px;
          a:link, a:visited {
            font-size: 19px;
          }
        }
      }
    }

    .inverse-header {
      padding-left: 20px;
      padding-right: 20px;
      min-height: 270px;
      margin-bottom: 0;
    }

    .xpl-hero {
      padding-bottom: 40px;
      h1 {
        margin-top: 0;
        padding-top: 60px;
      }
    }

    .xpl-featured-inner {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 25px;
      padding-right: 25px;
    }

    .xpl-topics-page {
//      header {
//        position: relative;
//        top: -7px;
//      }
      &.xpl-topic-page {
        .back-link-inverse {
          padding-top: 50px;
          a.govuk-back-link {
            font-size: 22px;
            background-position: 0 7px;
          }
        }

        .back-link-inverse-inner {
          padding-left: 0;
        }
        h1 {
          padding-top: 0;
          padding-bottom: 20px;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }


    .xpl-topics {
      &-inner {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;
      }

      &-heading {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      h2, h3 {
        font-size: 27px;
      }

      ul.govuk-list {
        margin-left: -15px;
        margin-right: -15px;
        li {
          min-height: 200px;
          display: inline-block;
          width: 30%;
          vertical-align: top;
          margin-left: 15px;
          margin-right: 15px;
          &:hover {
            background: #f3f2f1;
          }
          p {
            font-size: 19px;
          }
        }
      }
    }
    .xpl-activity .xpl-topics > ul > li {
      width: 45%;
      min-height: 160px;
    }


    .xpl-activity-browse {
      .xpl-topics__intro {
        display: block;
        font-size: 22px;
        margin-bottom: 30px;
      }
    }


    .xpl-subsubtopics-section {
      margin-left: auto;
      margin-right: auto;
      max-width: 960px;
    }


    #xpl-frame2-activity li {
      min-height: 60px;
    }
    #xpl-frame2-topics li {
      max-height: 60px;
    }

    .xpl-topics-title {
      padding-top: 10px;
    }


    .govuk-breadcrumbs {
      .govuk-breadcrumbs__list-item:before {
        top: 0;
      }
    }


    .js-enabled .govuk-accordion {
      width: 66%;
      .govuk-accordion__section {
        &:hover {
          background-color: #f3f2f1;
        }
        button:hover:not(:focus) {
          text-decoration: none;
        }
      }
    }

    .header-inner {
      padding-left: 0;
      padding-right: 0;
      p.lede {
        font-size: 22px;
        margin-bottom: 0;
      }
    }
  }
}
