
//---- menu ---- 
.govuk-header__menu-button {
    right: 40px;
    top: 0;
    padding: 20px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    font-size: 18px;
    line-height: 10px;
    &::after {
      border: none;
      clip-path: none;
    }
    &.govuk-header__menu-button--open {
      background: white;
      color: black;
    }
  }
  