/*
Tabs
*/

$module: "xpl-tabs";

$text-colour: #000;
$border-colour: #ddd;
$toggle-colour: #efedeb;
$grey-2: #222;
$white: #fff;

$mobile-width:  400px;
$tablet-width:  640px;
$desktop-width: 768px;
$wide-width: 1300px;


.#{$module} {

  font-family: "GDS Transport", nta, Arial, sans-serif;

  &__toggle:focus {
    box-shadow: none;
  }

  // global treatment
  &__toggle {
    display: block;
    padding: 10px 15px;
    &:link, &:visited {
      color: $text-colour;
    }

    &[aria-selected=true] {
      color: $text-colour;
      text-decoration: none;
    }
  }

  &__list-outer {
    background: #283135;
  }

  &__list {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 960px;
    height: 64px;
    margin: 0 auto 0 auto;
    list-style-type: none;
  }

  &__content {
    max-width: 960px;
    margin: 0 auto 0 auto;
    padding-left: 25px;
    padding-right: 25px;
  }


  &__item {
    position: relative; bottom: -1px;
  }

  &__toggle {
    background: #efedeb;
  }

  &__toggle--selected {
    background: white;
  }

  &__toggle--selected[aria-selected=true]:focus {
    color: $text-colour;
    outline: none;
    background: #fd0;
    border-bottom: 3px solid black;
  }


  // mobile
  @media (max-width: $mobile-width) {
    &__list {
      border-bottom: 1px solid $border-colour;
    }
    &__toggle {
      border-top: 1px solid $border-colour;
    }

  }



  // phone and above
  @media (min-width: $mobile-width) {
    &__panel {
      clear: both;
      overflow: hidden;
      margin-top: 40px;
    }

    &__list {
      margin-bottom: 0;
    }

    &__item {
      float: left;
//      position: relative; bottom: 0px;
      font-size: 18px;
      font-weight: bold;
    }

    &__toggle {
      background-color: $toggle-colour;
      border-bottom: 1px solid black;
      float: left;
      text-decoration: none;
      margin-bottom: 0;
      margin-top: 0;
      margin-right: 20px;
      padding: 20px;

      &--selected,
      &[aria-selected=true] {
        background-color: $white;
        border: 1px solid transparent;
//        border-bottom: 0;
//        border-color: $grey-2;
      }

    }

  }

  // desktop and above
  @media (min-width: $desktop-width) {
    &__item {
      position: relative; bottom: 0;
    }
  }

}
