{% extends "layout.html" %}
{% import "includes/blocklist.html" as blocks %}

{% block pageTitle %}
  {{ title }}
{% endblock %}


{% block main %}
  <div class="xpl-topics-page xpl-topic-page {{containerClasses}}">
    <header class="app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
      <div class="app-c-back-link-inverse">
        <div class="app-c-back-link-inverse-inner">
          <a class="govuk-back-link" href="{{ parent.link }}">{{ parent.title }}</a>
        </div>
      </div>

      <div class="header-inner">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-c-title--inverse">
              {{ title }}
            </h1>
            <p class="lede govuk-body-l app-c-lead-paragraph--inverse">{{ description }}</p>
          </div>
        </div>
      </div>
    </header>

    {% set topicsHtml %}
    <section class="xpl-subsubtopics-section">
      <div class="xpl-section-inner">
        {% if subtopic_sections %}
          {% if subtopic_sections.items.length === 1 %}
            <h2 class="govuk-heading-m">{{ subtopic_sections.items[0].heading.text }}</h2>
            <div class="a-z-list">
              {{ subtopic_sections.items[0].content.html|safe }}
            </div>
          {% else %}
            {{ govukAccordion(subtopic_sections) }}
          {% endif %}
        {% else %}
          <ul class="govuk-list xpl-subsubtopics">
            {% for subtopic in subtopics %}
              <li><a href="{{ subtopic.link }}">{{ subtopic.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}


        {% if related_topics|length > 0 %}
          <h2 class="govuk-heading-m">Related topics</h2>
          <div class="topic-tags">
            <ul>
              {% for topic in related_topics %}
                <li><a href="{{ topic.link }}">{{ topic.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </section>
    {% endset -%}

    {% set governmentHtml %}
      <section>
        {{ blocks.list("Browse by content type", "Find out what the government is doing in this topic", "grey",
          [ { title: "News", link:"/search/news-and-communications?parent="+topicSlug+"&amp;"+taxon_search_filter, description: "News articles, speeches and correspondance" },
            { title: "Guidance and regulation", link: "/search/policy-papers-and-consultations?"+taxon_search_filter+"&amp;order=updated-newest", description: "Detailed guidance, rules and regulation" },
            { title: "Research and statistics", link: "/search/guidance-and-regulation?"+taxon_search_filter+"&amp;order=most-viewed", description: "Reports, analysis and official statistics" },
            { title: "Policy papers and consultations", link: "/search/research-and-statistics?content_store_document_type=statistics_published&amp;"+taxon_search_filter+"&amp;order=updated-newest", description: "Consultations and strategy" },
            { title: "Transparency documents", link: "/search/transparency-and-freedom-of-information-releases?"+taxon_search_filter+"&amp;order=updated-newest", description: "Government data, freedom of information releases and corporate reports" }
          ]
        )}}
      </section>

      <section class="xpl-departments">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Departments and organisations</h2>
            <ul class="govuk-list">
              {% for organisation in organisations %}
                <li class="xpl-organisation">
                  <a href="{{organisation.url}}">
                    <div class="xpl-organisation__inner xpl-org {{organisation.slug}}">
                      <img src="/public/images/org_logos/{{organisation.crest}}_crest_18px_x2.png" alt=organisation logo"/>
                      <p class="govuk-body">{{organisation.title}}</p>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    {% endset -%}


    {% if taxon_search_filter %}
      {{ govukTabs({
        items: [
          {
            label: "Topics",
            id: "topics",
            panel: {
              html: topicsHtml
            }
          },
          {
            label: "Government activity",
            id: "government-activity",
            panel: {
              html: governmentHtml
            }
          }
        ]
      }) }}
    {% else %}
      {{ topicsHtml | safe }}
    {% endif %}
  </div>
{% endblock %}
