{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  <div class="app-c-back-link-inverse">
    <div class="app-c-back-link-inverse-inner">
      <a class="govuk-back-link" href="/">Home</a>
    </div>
  </div>
{% endblock %}

{% block main %}
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    <header class=" app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
      <div class="header-inner">
        <h1 class="page-heading govuk-heading-xl app-c-title--inverse">
          Topics
        </h1>
      </div>
    </header>

    <section class="xpl-topics">
      <h2 class="govuk-heading-l">Topics</h2>
      <ul class="govuk-list">

        {% for topic in subtopics %}
          <li>
            <a class="govuk-link" href="{{ topic.link }}">
              <div>
                <div class="xpl-chevron" aria-hidden="true"></div>
                <h3 class="home-services__heading">{{ topic.title }}</h3>
                <p class="home-services__para govuk-body">{{ topic.description }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
    </section>
{% endblock %}
