{% extends "layout.html" %}
{% import "includes/blocklist.html" as blocks %}

{% block pageTitle %}
  {{ title }}
{% endblock %}


{% block main %}
  {% block content %}
    <header class=" app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
      <div class="header-inner">
        <h1 class="page-heading govuk-heading-xl app-c-title--inverse">
          Topics
        </h1>
      </div>
    </header>

    <section>
      <div class="xpl-section-inner">
        {{ blocks.list("Topics", "", subtopics) }}
      </div>
    </section>
  {% endblock %}
{% endblock %}
