{% extends "layout.html" %}
{% import "includes/blocklist.html" as blocks %}

{% block pageTitle %}
  {{ title }}
{% endblock %}


{% block main %}
  <div class="xpl-topics-page {{containerClasses}}">
    <header class="inverse-header inverse-header--full-width inverse-header--padding-top">
      <div class="header-inner">
        <h1 class="page-heading govuk-heading-xl title--inverse">
          Topics
        </h1>
      </div>
    </header>

    <section>
      <div class="xpl-section-inner">
        {{ blocks.list("", "", "black", subtopics) }}
      </div>
    </section>
  </div>
{% endblock %}
