{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  <div class="app-c-back-link-inverse">
    <div class="app-c-back-link-inverse-inner">
      <a class="govuk-back-link" href="/topics">Topics</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <header class=" app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
    <div class="header-inner">
      <h1 class="page-heading govuk-heading-xl app-c-title--inverse">
        {{ title }}
      </h1>
      <p class="lede govuk-body-l app-c-lead-paragraph--inverse">{{ description }}</p>
    </div>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% set topicsHtml %}
      <h2 class="govuk-heading-l">Most viewed</h2>
      <ul class="featured-list govuk-list">
        {% for feature in featured %}
          <li><a href="{{feature.link}}">{{ feature.title }}</a></li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-l">Sub-topics</h2>
      <ul class="govuk-list subtopic-list">
        {% for topic in subtopics %}
          <li class="topic-link">
            <a class="govuk-link" href="{{ topic.link }}">{{ topic.title }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endset -%}

      {% set governmentHtml %}
      <h2 class="govuk-heading-l">Latest activity in this topic</h2>


      {% for activity in activities %}
        <div class="xpl-topic-activity-frame">
          <div class="xpl-topic-activity-inner">
            <h2 class="govuk-heading-l"><a class="govuk-link" href="{{activity.url}}">{{activity.title}}</a></h2>
            <p class="govuk-body">
              {{activity.type}},
              Published {{activity.published}}
            </p>
            <p class="govuk-body xpl-topic-activity-footer">{{activity.category}}</p>
          </div>
        </div>
      {% endfor %}


      <h2 class="govuk-heading-l">Browse by publication type</h2>

      <h3 class="govuk-heading-m"><a class="govuk-link" href="/search/news-and-communications?parent={{topicSlug}}&amp;{{taxon_search_filter}}">News</a></h3>
      <p class="govuk-body">News articles, speeches and correspondence</p>


      {#
      {% for news in latest_news %}
      <a href="{{news.url}}"><image src="{{news.image_url}}" alt="{{news.title}}" />
      <h3>{{news.title}}</h3>
      </a>
      <p class="govuk-body govuk-!-margin-bottom-6">{{ news.description }}</p>

      <p class="govuk-body govuk-!-margin-bottom-9">
      <a href="/search/news-and-communications?parent=%2Fwelfare&amp;topic=dded88e2-f92e-424f-b73e-6ad24a839c51">See all news</a>
      </p>
      {% endfor %}
      #}



      <h3 class="govuk-heading-m"><a class="govuk-link" href="/search/guidance-and-regulation?{{ taxon_search_filter }}&amp;order=most-viewed">Guidance and regulation</a></h3>
      <p class="govuk-body">Detailed guidance, rules and regulation</p>

      <h3 class="govuk-heading-m"><a class="govuk-link" href="/search/research-and-statistics?content_store_document_type=statistics_published&amp;{{ taxon_search_filter }}&amp;order=updated-newest">Research and statistics</a></h3>
      <p class="govuk-body">Research, analysis and official statistics</p>

      <h3 class="govuk-heading-m"><a class="govuk-link" href="/search/policy-papers-and-consultations?{{ taxon_search_filter }}&amp;order=updated-newest">Policy papers and consultations</a></h3>
      <p class="govuk-body">Consultations and strategy</p>

      <h3 class="govuk-heading-m"><a class="govuk-link" href="/search/transparency-and-freedom-of-information-releases?{{ taxon_search_filter }}&amp;order=updated-newest">Transparency</a></h3>
      <p class="govuk-body">Government data, freedom of information releases and corporate reports</p>


      <h2 class="govuk-heading-l">Departments and organisations</h2>

      <ul class="govuk-list">
        {% for organisation in organisations %}
          <li class="xpl-organisation">
            <a href="https://www.gov.uk{{organisation.url}}">
              <div class="xpl-organisation__inner xpl-org {{organisation.slug}}">
                <img src="/public/images/org_logos/{{organisation.crest}}_crest_18px_x2.png" alt=organisation logo"/>
                <p class="govuk-body">{{organisation.title}}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endset -%}


      {{ govukTabs({
        items: [
          {
            label: "Topics",
            id: "topics",
            panel: {
              html: topicsHtml
            }
          },
          {
            label: "Government activity",
            id: "government-activity",
            panel: {
              html: governmentHtml
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
