{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}


{% block main %}
  {% block beforeContent %}
    <div class="app-c-back-link-inverse">
      <div class="app-c-back-link-inverse-inner">
        <a class="govuk-back-link" href="/topic">Topics</a>
      </div>
    </div>
  {% endblock %}

  {% block content %}
    <header class=" app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
      <div class="header-inner">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="page-heading govuk-heading-xl app-c-title--inverse">
              {{ title }}
            </h1>
            <p class="lede govuk-body-l app-c-lead-paragraph--inverse">{{ description }}</p>
          </div>
        </div>
      </div>
    </header>


    {% set topicsHtml %}
    {% if featured %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-l xpl-topics-title">Most viewed</h2>
          <ul class="featured-list govuk-list">
            {% for feature in featured %}
              <li><a href="{{feature.link}}">{{ feature.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <section class="xpl-topics">
      <h2 class="govuk-heading-l">Sub-topics</h2>
      <ul class="govuk-list">
        {% for topic in subtopics %}
          <li>
            <a class="govuk-link" href="{{ topic.link }}">
              <div>
                <div class="xpl-chevron" aria-hidden="true"></div>
                <h3 class="home-services__heading">{{ topic.title }}</h3>
                <p>{{ topic.description }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endset -%}

  {% set governmentHtml %}
    <section class="xpl-topics">
      <h2 class="govuk-heading-l">Browse by content type</h2>
      <p>Find out what the government is doing in this topic</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/search/news-and-communications?parent={{topicSlug}}&amp;{{taxon_search_filter}}">
            <div>
              <div class="xpl-chevron" aria-hidden="true"></div>
              <h3 class="xpl-topic-heading">News</h3>
              <p>News articles, speeches and correspondence</p>
            </div>
          </a>
        </li>

        <li>
          <a class="govuk-link" href="/search/policy-papers-and-consultations?{{ taxon_search_filter }}&amp;order=updated-newest">
            <div>
              <div class="xpl-chevron" aria-hidden="true"></div>
              <h3 class="xpl-topic-heading">Policy papers and consultations</h3>
              <p>Consultations and strategy</p>
            </div>
          </a>
        </li>

        <li>
          <a class="govuk-link" href="/search/guidance-and-regulation?{{ taxon_search_filter }}&amp;order=most-viewed">
            <div>
              <div class="xpl-chevron" aria-hidden="true"></div>
              <h3 class="xpl-topic-heading">Guidance and regulation</h3>
              <p>Detailed guidance, rules and regulation</p>
            </div>
          </a>
        </li>

        <li>
          <a class="govuk-link" href="/search/research-and-statistics?content_store_document_type=statistics_published&amp;{{ taxon_search_filter }}&amp;order=updated-newest">
            <div>
              <div class="xpl-chevron" aria-hidden="true"></div>
              <h3 class="xpl-topic-heading">Research and statistics</h3>
              <p>Research, analysis and official statistics</p>
            </div>
          </a>
        </li>

        <li>
          <a class="govuk-link" href="/search/transparency-and-freedom-of-information-releases?{{ taxon_search_filter }}&amp;order=updated-newest">
            <div>
              <div class="xpl-chevron" aria-hidden="true"></div>
              <h3 class="xpl-topic-heading">Transparency</h3>
              <p>Government data, freedom of information releases and corporate reports</p>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <section>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Departments and organisations</h2>
          <ul class="govuk-list">

            {% for organisation in organisations %}
              <li class="xpl-organisation">
                <a href="{{organisation.url}}">
                  <div class="xpl-organisation__inner xpl-org {{organisation.slug}}">
                    <img src="/public/images/org_logos/{{organisation.crest}}_crest_18px_x2.png" alt=organisation logo"/>
                    <p class="govuk-body">{{organisation.title}}</p>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% endset -%}

  {% if taxon_search_filter %}
    {{ govukTabs({
      items: [
        {
          label: "Topics",
          id: "topics",
          panel: {
            html: topicsHtml
          }
        },
        {
          label: "Government activity",
          id: "government-activity",
          panel: {
            html: governmentHtml
          }
        }
      ]
    }) }}
  {% else %}
    {{ topicsHtml | safe }}
  {% endif %}

  {% endblock %}
{% endblock %}
